@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");
@import "tailwindcss";
@plugin "@egoist/tailwindcss-icons";
@config "./../tailwind.config.ts";

@theme {
  --font-mono: "M PLUS 1 Code", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}
